n8n-workflow.json
{
  "name": "AIZEN - Chat + Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "aizen-chat-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-lead-exists",
              "leftValue": "={{ $json.body.lead }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-if",
      "name": "Lead présent ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "VOTRE_GOOGLE_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Leads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ new Date().toISOString() }}",
            "Session": "={{ $('Webhook').item.json.body.sessionId }}",
            "Nom": "={{ $('Webhook').item.json.body.lead.fullName }}",
            "Entreprise": "={{ $('Webhook').item.json.body.lead.company }}",
            "Email": "={{ $('Webhook').item.json.body.lead.email }}",
            "Téléphone": "={{ $('Webhook').item.json.body.lead.phone }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "node-sheets",
      "name": "Sauvegarder Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [540, 120]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Webhook').item.json.body.chatInput }}",
        "options": {
          "systemMessage": "=Tu es l'assistant IA d'AIZEN, une agence spécialisée en automatisation IA pour les entreprises africaines. Tu réponds toujours en français, de façon professionnelle, concise et orientée action.\n\n{{ $('Webhook').item.json.body.lead ? 'Contexte utilisateur : tu parles avec ' + $('Webhook').item.json.body.lead.fullName + ', de l\\'entreprise ' + $('Webhook').item.json.body.lead.company + '. Son email : ' + $('Webhook').item.json.body.lead.email + '.' : '' }}"
        }
      },
      "id": "node-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [820, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7,
          "maxTokens": 1024
        }
      },
      "id": "node-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [760, 520]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [980, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output || $json.text || $json.response || '' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "node-respond",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Lead présent ?", "type": "main", "index": 0 }]
      ]
    },
    "Lead présent ?": {
      "main": [
        [{ "node": "Sauvegarder Lead", "type": "main", "index": 0 }],
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "Sauvegarder Lead": {
      "main": [
        [{ "node": "AI Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Agent": {
      "main": [
        [{ "node": "Répondre", "type": "main", "index": 0 }]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
